:root {
  /* Fonts */
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --maine-txt-cl: #303030;
  --light-txt-cl: #ffffff;
  --accent-txt-cl: #ff6c00;
  --grey-txt-cl-60: rgba(157, 164, 189, 0.6);
  --grey-txt-cl: #9da4bd;
  --dark-txt-cl: #555555;

  /* Backgrounds colors */
  --accent-bg-cl: #ff6c00;
  --dark-bg-cl: #191c26;

  /* Others */
}

/* Reset */
.link {
  text-decoration: none;
  color: currentColor;
}

.img {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid red;
  outline-offset: -2px;
}

/* Base styles */
.page {
  color: var(--maine-txt-cl);

  font-family: var(--main-font);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}

.btn {
  width: 160px;
  min-height: 40px;
  padding: 10px 16px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--min-txt-cl);

  background-color: transparent;
  border: 1px solid var(--accent-bg-cl);
  border-radius: 25px;
  cursor: pointer;
}

.btn-theme-dark {
  color: var(--light-txt-cl);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-bg-cl);
}

.main-title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--light-txt-cl);
}

.uppertitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.uppertitle-theme-dark {
  color: var(--grey-txt-cl-60);
}

.title {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.title-theme-dark {
  color: var(--light-txt-cl);
  margin-bottom: 20px;
}

.undertitle {
  margin-bottom: 20px;
  color: var(--dark-txt-cl);
}

.undertitle-theme-dark {
  color: var(--grey-txt-cl);
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

/* Header */

.header {
  background-color: var(--dark-bg-cl);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 70px;
}

.nav {
  margin-right: auto;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-nav-link,
.header-contact {
  padding-top: 52px;
  padding-bottom: 52px;
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;

  color: var(--light-txt-cl);
}

.header .link:hover,
.header .link:focus {
  color: var(--accent-txt-cl);
}

.header-group {
  display: flex;
  align-items: center;
}
.header-contact {
  margin-right: 45px;
}

/* Hero section */

.hero-section {
  background-color: var(--dark-bg-cl);
}

.hero-list {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-txt-cl);
}

/* .hero-uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--grey-txt-cl-60);
} */

/* .hero-maine-title {
  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;

  color: var(--light-txt-cl);
} */

/* .hero-subtitle {
  color: var(--grey-txt-cl);
} */

.slider-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  cursor: pointer;

  color: rgba(157, 164, 189, 0.6);
  background-color: transparent;
}

.slider-btn.active {
  color: var(--light-txt-cl);
}

/* About section */

.about-container {
  display: flex;
  gap: 64px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-desc {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: var(--dark-txt-cl);
}

.about-right-side {
  width: 470px;
}

/* Price section */

.section.price {
  background-color: var(--dark-bg-cl);
}

.price-block {
  display: flex;
  margin-bottom: 50px;
}

.price-list {
  flex-basis: 585px;
  justify-content: space-between;
  padding: 30px 40px;
}

.price-list:first-child {
  outline: 1px solid lightgreen;
}
.price-list:last-child {
  outline: 1px solid blue;
}

.price-item {
  color: var(--grey-txt-cl);
  margin-bottom: 20px;
}

.price-item:last-child {
  margin-bottom: 0;
}

.price-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Benefits section */
.benefits-quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--maine-txt-cl);
}

.benefits-decor {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;

  color: var(--accent-txt-cl);
}

.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;

  color: var(--maine-txt-cl);
}

/* Team */

.team-section {
  background-color: #f7f7f7;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  
}

.team-item {
  /* flex-basis: calc((100%-30px*2)/3); */
}

.team-name {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--min-txt-cl);
}

.team-position {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-txt-cl);
}

/* Gallery  */

.gallery-list {
  display: flex;
  gap: 30px;
}


/* Booking */

.contatcs-group {
  background-color: var(--dark-bg-cl);
}

/* Contacts */

.contacts-address {
  font-style: normal;
}

.contacts-link {
  color: var(--grey-txt-cl);
}

.contacts-uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--light-txt-cl);
}

.contacts-schedule {
  color: var(--grey-txt-cl);
}

/* Footer */

.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--grey-txt-cl);
}
